@import "../../node_modules/node-normalize-scss/_normalize";
/*@import "../../node_modules/slick-carousel/slick/slick";
@import "../../node_modules/magnific-popup/dist/magnific-popup";*/

/*
.burger-button {
  width: 23px;
  height: 23px;
  cursor: pointer;
  background: #ff5c5c;
}

@media screen and(max-width: 740px) {
  .main-menu {
    transition: background-color 0.6s ease;
  }
}
*/
.hamburger__checkbox {
   position: absolute;
   left: 0;
   top: 0;
   width: 1px;
   height: 1px;
   opacity: 0;
   font-size: 0;
 }

.hamburger__close {
  display: none;
}

.hamburger__checkbox:checked ~ .hamburger__close {
  display: block;
}

.hamburger__checkbox:checked ~ .hamburger__open {
  display: none;
}

