
.main-header {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin: 0 auto;
  background-color:var(--white);

  &__menu-button {
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: 20px;
    order: 3;
  }

}

@include responsive($sm) {
  .main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__menu-button {
      display: block;
    }
  }
}
@include responsive($md) {
  .main-header {
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: space-between;
    &__menu-button {
      display: none;
    }

  }
}
