:root{
  --background-color: #fff;
}
.main-header {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  margin: 0 auto;
  background-color:var(--background-color);
  @media #{$tablet-widths} {
    height: 56px;
  }
  &__menu-button {
    position: relative;
    margin:15px 30px 15px auto;
    order: 3;
    @media #{$tablet-widths}{
      display: none;
    }
  }
}




