:root {
  --black: #000;
  --background-header: #fff;
  --main-bg-color: #81b3b2;
  --color-hover: #669ec0;
}

.main-footer {
  position: relative;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;

  @include container;
  padding-top: 36px;
  padding-bottom: 23px;
  &__title {
    font-size: 21px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 35px;
  }
  .main-footer__social {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @include responsive($md) {
    .main-footer {
      display: flex;
      position: relative;
      height: 120px;
      width: 768px;
      justify-content: space-between;
      align-items: center;
      box-sizing: border-box;
      padding: 0 60px;
    }
    .main-footer__title {
      margin: 0;
    }
  }

  @include responsive($lg) {
    .main-footer {
      width: 1200px;
      padding-left: 132px;
      padding-right: 44px;
    }
  }
}